

body {
  font-family:sans-serif;
  background-color: #E0FFFF;
  margin: 0px;
  padding: 0px;
}

#navigationBar{
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  background-color: #ADD8E6;
}
#navigationBar ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#navigationBar li {
  float: left;
  color: #DAA520;

}
#navigationBar li a{
  text-align: center;
  display: block;
  color: #fff;
  font-family: Odibee Sans;
  padding: 10px 25px;
  font-size: 16pt;

}
#mainContainer {
  margin-right: auto;
  margin-left: auto;
}

#heroBanner {
  display: flex;
  background-color: #333;
  background-image: url('https://i2.cdn.turner.com/dr/hln/www/release/sites/default/files/imagecache/textarticle_640/2012/01/23/KyleMiller.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #DAA520;
  height: 300px;
  padding-left: 0px;
  padding-top: 128px;
  padding-bottom: 128px;
  justify-content: center;
}

#mainTitleText{
  font-size: 75px;
}

#sectionHeader{
  background-color: #8A2BE2
}
.sectionHeader{
  display: flex;
  text-decoration: underline;
}

.thumbnailContainer{
  display: flex;
  justify-content: space-between;
}

.thumbnailImage {
  display: flex;
  width: 33%;
}

.columnContainer{
  display: flex;
}

.contentSectionContainer{
  margin-left: 64px;
  margin-right: 64px;

}

.iframe-container{
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe{
  display: flex;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#arguments{
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  color: #DAA520;
  text-align: center;
  padding-left: 0px;
  padding-bottom: 128px;
}

#mainContainer2{
  margin-right: auto;
  margin-left: auto;
  color: #DAA520;
}

#matter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75;
  text-align: center;
  padding-left: 0px;
  padding-bottom: 128px;
}

#mainContainer3{
  margin-right: auto;
  margin-left: auto;
  color: #DAA520;

}

a, a:visited{
  color:#fff;
}
